[manifest]
dump_lua = true
priority = -2147483643 # -2147483647 + 4
version = "1.0.0"

# Honestly dont know what this was for anymore, i think its for the faster event scrolling? ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== =====
[[patches]]
[patches.pattern]
match_indent = true
pattern = '''
if self.editMode then
	self.cBeat = self.editorBeat --for hold rendering
end
'''
payload = '''
'''
position = "at"
target = "states/Editor.lua"

[[patches]]
[patches.pattern]
match_indent = true
pattern = '''if mouse.pressed == 1 and not self.altSliderHovered and not self.altRingHovered then -- on mouse press'''
payload = '''
if self.editMode then
	self.cBeat = self.editorBeat -- Penta: for hold rendering?
end
'''
position = "before"
target = "states/Editor.lua"

# Lag back in option ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== =====
[[patches]]
[patches.pattern]
match_indent = true
pattern = '''self.innerOptionsMenu:addOption('back', function() self.inOptionsMenu = false end, ySpacing * 7)'''
payload = '''self.innerOptionsMenu:addBoolean({'beattoolsOptionsLagback', 'optionsEnabled', 'optionsDisabled'}, mods.beattools.config, 'lagBack', ySpacing * 6)'''
position = "before"
target = "states/SongSelect.lua"
